In [1]:
import pandas as pd
from DataGenerator import DataGenerator

Requirement already satisfied: Shapely in c:\users\hp\appdata\local\programs\python\python36\lib\site-packages (1.7.1)

WARNING: You are using pip version 20.2.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python36\python.exe -m pip install --upgrade pip' command.

### Generate word images from Synth images

In [2]:
synth_data = DataGenerator().generateRecogTextSynth()
synth_data.head()

-0.78053975 [403.8786  386.27612] [368.08093 350.82462]
-0.13076681 [649.686     74.933846] [447.07556  48.28707]

                          path word
0  synth_word_texts/word_1.png  for
1  synth_word_texts/word_2.png  and
2  synth_word_texts/word_3.png  and
3  synth_word_texts/word_4.png  the
4  synth_word_texts/word_5.png  FOR

### For CIDAR

In [7]:
icdar_data = pd.read_csv('ch4_training_word_images_gt/gt.txt',names=['path','word'])
icdar_data.head()

         path                word
0  word_1.png   "Genaxis Theatre"
1  word_2.png              "[06]"
2  word_3.png             "62-03"
3  word_4.png           "Carpark"
4  word_5.png              "EXIT"

In [8]:
# Process the word values
icdar_data['word']=[i.strip().replace('"','') for i in icdar_data['word']]

In [9]:
icdar_data['path']=["ch4_training_word_images_gt/"+i for i in icdar_data['path'] ]
icdar_data.head()

                                     path             word
0  ch4_training_word_images_gt/word_1.png  Genaxis Theatre
1  ch4_training_word_images_gt/word_2.png             [06]
2  ch4_training_word_images_gt/word_3.png            62-03
3  ch4_training_word_images_gt/word_4.png          Carpark
4  ch4_training_word_images_gt/word_5.png             EXIT

In [10]:
print(synth_data.shape)
print(icdar_data.shape)

(35926, 2)
(4458, 2)

In [11]:
data=pd.concat([synth_data,icdar_data])
data.shape

(40384, 2)

In [12]:
#Saving the data
data.to_csv('text_word_df.csv')

In [2]:
data=pd.read_csv('text_word_df.csv',index_col=0)
data.head()

                          path word
0  synth_word_texts/word_1.png  for
1  synth_word_texts/word_2.png  and
2  synth_word_texts/word_3.png  and
3  synth_word_texts/word_4.png  the
4  synth_word_texts/word_5.png  FOR

In [3]:
# Changing the folder name (reflecting the chnage in df also)
data['path'] = [i.strip().replace('ch4_training_word_images_gt','icdar_word_texts') for i in data['path']]
data.tail()

                                path        word
4453  icdar_word_texts/word_4464.png         ONE
4454  icdar_word_texts/word_4465.png         ar.
4455  icdar_word_texts/word_4466.png        play
4456  icdar_word_texts/word_4467.png  exclusives
4457  icdar_word_texts/word_4468.png        gest

In [4]:
data.head()

                          path word
0  synth_word_texts/word_1.png  for
1  synth_word_texts/word_2.png  and
2  synth_word_texts/word_3.png  and
3  synth_word_texts/word_4.png  the
4  synth_word_texts/word_5.png  FOR

In [5]:
data.to_csv('text_word_df.csv')